---
---

@import "{{ site.theme }}";

/* footer 숨기기 */
footer, .site-footer, .page-footer, .site-footer-credits {
  display: none !important;
}

/* 'View On GitHub' 링크만 숨기기 */
a[href="https://github.com/Lisa-Im/physics-portfolio"] {
  display: none !important;
}
