---
---

@import "{{ site.theme }}";

/* footer 숨기기 */
footer, .site-footer, .page-footer, .site-footer-credits {
  display: none !important;
}

/* View on GitHub 버튼(=forkme banner) 숨기기 */
#forkme_banner {
  display: none !important;
}
